h2 {
    color :aqua;
}
button {
    color: rgb(208, 40, 180);
     background-color:rgb(61, 125, 199);
}

 h2 {
    font-style: italic;
    text-decoration: line-through;
    font-weight: 100;
 }

 #box{
   background-color: aqua; 
   color:black;
 }

 .heading{
    color:brown;
 }
 /*we can also use h1,h2,h3 instead of class name to select all the heading tags and apply the same style to them*/
p {
    text-align: center;/* same meaning with start=left ,end=right*/
    font-family:serif;
    text-decoration: blue wavy underline;
}
body {
    background-color: cadetblue;

}

h2 {
    font-size: 40px;
}

